%li{id: "framework-#{framework.id}"}
  .row
    .columns.small-2
      =render partial: 'vote', object: framework, as: 'framework'
    .columns.small-10
      .panel
        %h3= link_to framework.name, framework
        %p= framework.description
        %p= t('frameworks.index.by', by: h(framework.user.name))
        -framework.categories.each do |c|
          %a{href: category_frameworks_path(c)}
            %span.label.secondary= c.name
