.contain-to-grid
  %nav.top-bar{'data-topbar' => '', role: 'navigation'}
    %ul.title-area
      / Title Area
      %li.name
        %h1= link_to t('app_name'), root_path
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span
    %section.top-bar-section
      %ul.right
        %li.has-form= link_to t('header.new_framework'), new_framework_path, class: 'button' if user_signed_in? and current_user.enough_points?
        %li.hide-for-small
          -if user_signed_in?
            -#=print_unread_notifications
            %li.has-dropdown
              %a.settings_link{href: "#"}
                %span.fi-widget
                  %span.show-for-small
                    =t('header.user.settings')
              %ul.dropdown
                %li
                  %label= current_user
                  %label= current_user.email
                %li= link_to t('header.user.edit'), edit_user_registration_path
                %li.has-form
                  %span.label.success= t('header.user.points', points: current_user.points)
                %li.divider
                %li= link_to t('header.user.logout'), destroy_user_session_path, method: :delete
          -else
            %li.has-form= link_to(t('header.sign_up'), new_user_registration_path, class: 'button radius')
            %li.has-form= link_to(t('header.sign_in'), new_user_session_path, class: 'button success radius')